<header class="site-header">
  <div class="site-header__promo">
    <p class="site-header__promo-text">Get a FREE gift bag with orders $50+ <i class="fa-solid fa-gift" aria-hidden="true"></i></p>
  </div>
  <div class="site-header__main">
    <div class="site-header__main-inner">
      <a href="/" class="site-header__perks"></a>
      <a href="/" class="site-header__logo">
        <span class="site-header__logo-main"><img src="../assets/images/playtime_pets_logo.png" alt="Playtime Pets" /></span>
      </a>
      <div class="site-header__actions">
        <a href="/cart" class="site-header__icon" aria-label="Cart"><i class="fa-solid fa-shopping-cart" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <nav class="site-header__nav">
    <ul class="site-header__nav-list">
      <li><a href="/collections/new">NEW</a></li>
      <li><a href="/collections/walk">WALK</a></li>
      <li><a href="/collections/wear">WEAR</a></li>
      <li><a href="/collections/sleep">SLEEP</a></li>
      <li><a href="/collections/play">PLAY</a></li>
      <li><a href="/sale" class="site-header__nav-sale">SALE</a></li>
    </ul>
  </nav>
</header>
