<section class="why-shop" aria-label="Why shop with us">
  <div class="why-shop__inner">
    <h2 class="why-shop__title">Why shop with us</h2>
    <ul class="why-shop__list">
      <li class="why-shop__item">
        <span class="why-shop__icon" aria-hidden="true"><i class="fa-solid fa-truck"></i></span>
        <span class="why-shop__label">Free shipping on orders $50+</span>
      </li>
      <li class="why-shop__item">
        <span class="why-shop__icon" aria-hidden="true"><i class="fa-solid fa-rotate-left"></i></span>
        <span class="why-shop__label">Easy returns within 30 days</span>
      </li>
      <li class="why-shop__item">
        <span class="why-shop__icon" aria-hidden="true"><i class="fa-solid fa-shield-halved"></i></span>
        <span class="why-shop__label">Safe, pet-friendly materials</span>
      </li>
      <li class="why-shop__item">
        <span class="why-shop__icon" aria-hidden="true"><i class="fa-solid fa-leaf"></i></span>
        <span class="why-shop__label">Small-batch quality you can trust</span>
      </li>
    </ul>
  </div>
</section>
