<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Playtime Pets</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    {% include "header.liquid" %}
    
    <main>
        {{ content }}
    </main>
    
    {% include "footer.liquid" %}
</body>
</html>
