---
layout: base
title: Playtime Pets
---

{% include "hero.liquid" %}

<section class="home-page__section">
  <div class="home-page__container">
    <h2 class="home-page__heading">Your one-stop shop for pet toys</h2>
    <div class="home-page__content">
      <p>Treat your best friend to something special. From walk to wear, sleep to play—we've got the good stuff.</p>
    </div>
  </div>
</section>
